build/
re/trace/*.bin
re/trace/shots/
*.ppm
build/
tools/__pycache__/
re/assets_preview/
re/trace/
re/stats/
bs_hiscores.txt
assets/music/
android/.gradle/
android/local.properties
android/app/.cxx/
android/app/build/
